.innerWrapper {
  padding-inline: 3%;
}

.table {
  width: 100%;
  text-align: center;
}

.row {
  max-width: 100%;
  border-bottom: 1px solid #ecedef;

  th{
    padding-block: 10px;
    color: #70757a;
    font-size: 14px;
  }

}

.club{
    text-align: start;
}


